.vscode/**
.vscode-test/**
src/**
!src/images/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.vscodeignore
.git/**
.github/**

# Source files
test/**
**/*.psd
.nyc_output/**
coverage/**

# Development files
out/test/**
images/*.psd
.travis.yml
.azure-pipelines.yml
.gitlab-ci.yml
.jenkins.yml

# Documentation and examples
docs/**
examples/**
*.md
!README.md
!CHANGELOG.md
!LICENSE.md

# Misc
.DS_Store
**/*.vsix
npm-debug.log
yarn-error.log

scripts/**
